html, body, div {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#mosaic {
    display: table;
    height: 100%;
    margin: auto;
    width: 100%;
}

#mosaic .mosaic-item {
    height: 100%;
    display: table;
    border: 1px solid white;
}

#mosaic .mosaic-item .h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
}
